{% extends 'base.html' %}
{% block content %}
{% load rest_framework %}

<div class="container">
    <form class="row" method="post" enctype="multipart/form-data">
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    {% csrf_token %}
                    {% render_form serializer %}
                </div>
                <button type="submit" class="btn btn-primary">
                    Обновить токен
                </button>
            </div>
        </div>
    </form>
</div>
{% endblock %}